.meta_main_wrp {
    height: auto;
    margin: 10px 0;
    width: 100%;
}
.meta_main_wrp > label {
    font-size: 15px;
    font-weight: bold;
}
.meta_fld_wrp {
    margin: 10px 0;
    width: 100%;
}
.widefat th.custm{
    padding: 10px;
}
.theme_widget_wrapper {
    background-color: #fff;
    float: left;
    width: 100%;
}
.sub_wrapper {
    border-bottom: 1px solid #ccc;
    float: left;
    margin: 0;
    padding: 15px 0;
    width: 100%;
}
.sub_wrapper_txt {
    float: left;
    font-size: 15px;
    width: 70%;
}
.sub_wrapper_fld {
    float: left;
    width: 20%;
	padding-left: 40px;
}
#cstm_wdgt_btn {
    background: none repeat scroll 0 0 #580085;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bolder;
    padding: 10px;
    text-transform: uppercase;
	float: left;
	margin: 10px 0;
}
.sclmda_wrpr {
    float: left;
    margin: 10px 0;
    width: 100%;
}
.sclmda_sub_wrapper {
    float: left;
    margin: 10px 0;
    width: 100%;
}
.sclmda_txt {
    float: left;
    padding: 8px 0 0 25px;
    width: 10%;
}
.sclmda_fld {
    float: left;
    width: 70%;
}
.sclmda_fld > input[type="text"] {
    float: left;
    padding: 5px 10px;
    width: 50%;
}

.sclmda_fld input[type="submit"] {
    background: none repeat scroll 0 0 #580085;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bolder;
    padding: 10px;
    text-transform: uppercase;
}
#wp-oese-theme-settings fieldset { border:1px solid #cdcdcd; padding:30px; }
#wp-oese-theme-settings fieldset legend { padding:0 20px; }
#wp-oese-theme-settings fieldset label { display:inline; }
#wp-oese-theme-settings fieldset input[type=textbox] { width:100%; }
#wp-oese-theme-settings fieldset .form-group,
#wp-oese-theme-settings fieldset .wp-editor-wrap{ margin-bottom:15px; }
#wp-oese-theme-settings fieldset label.inline { display:inline; }
#wp_oese_theme_contact_page { display:none; }
a.contact-edit { text-decoration:none; }
a.contact-eidt { text-decoration:underline; }
.contact-edit-link { margin-left:10px; }
.contact-edit-link a { font-size:14px; }
.attachment-compat .compat-attachment-fields .compat-field-category td{ max-height:350px; overflow:scroll; }
.attachment-compat .compat-attachment-fields .compat-field-post_tag td{ max-height:250px; overflow:scroll; }
.oese-tabs.ui-tabs { padding:0; }
.oese-tabs .nav-tab-wrapper {
    background: #32373c;
    border-radius: 0;
    border-color: #32373c;
}
.oese-tabs .nav-tab-wrapper .ui-tabs-active { outline:none; }

/*PERMALINK VALIDATION START*/
.oese-prohibitedpermalinktext {
  background:rgba(220,50,50,.1) !important;
  width:100%;
  min-width:100%;
  box-sizing:border-box;
}
input#secondary-save-post {float: left;}
#minor-publishing-actions #save-action #save-post{
  width: 0px !important;
  padding: 0px !important;
  border: 0px !important;
}
/*PERMALINK VALIDATION END*/

.wpDataTable tbody tr td button {
  background-color: #284179 !important;
  line-height: 1.75;
  border: 1px solid transparent;
  color: #fff !important;
  padding: .5rem 1rem;
  font-size: 14px !important;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(122,122,122,.5);
  text-transform: none;
  position: relative;
  transition: all .3s ease;
  display: inline-block;
}

#wdt-md-modal .detailColumn a button,
#wdt-cd-modal tr td.wdtcomparerow span a button {
    background-color: #284179 !important;
    line-height: 1.75;
    border: 1px solid transparent;
    color: #fff !important;
    padding: .5rem 1rem;
    font-size: 14px !important;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(122,122,122,.5);
    text-transform: none;
    position: relative;
    transition: all .3s ease;
    display: inline-block;
}