.meta_main_wrp {
    height: auto;
    margin: 10px 0;
    width: 100%;
}
.meta_main_wrp > label {
    font-size: 15px;
    font-weight: bold;
}
.meta_fld_wrp {
    margin: 10px 0;
    width: 100%;
}
.widefat th.custm{
    padding: 10px;
}
.theme_widget_wrapper {
    background-color: #fff;
    float: left;
    width: 100%;
}
.sub_wrapper {
    border-bottom: 1px solid #ccc;
    float: left;
    margin: 0;
    padding: 15px 0;
    width: 100%;
}
.sub_wrapper_txt {
    float: left;
    font-size: 15px;
    width: 70%;
}
.sub_wrapper_fld {
    float: left;
    width: 20%;
	padding-left: 40px;
}
#cstm_wdgt_btn {
    background: none repeat scroll 0 0 #580085;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bolder;
    padding: 10px;
    text-transform: uppercase;
	float: left;
	margin: 10px 0;
}
.sclmda_wrpr {
    float: left;
    margin: 10px 0;
    width: 100%;
}
.sclmda_sub_wrapper {
    float: left;
    margin: 10px 0;
    width: 100%;
}
.sclmda_txt {
    float: left;
    padding: 8px 0 0 25px;
    width: 10%;
}
.sclmda_fld {
    float: left;
    width: 70%;
}
.sclmda_fld > input[type="text"] {
    float: left;
    padding: 5px 10px;
    width: 50%;
}

.sclmda_fld input[type="submit"] {
    background: none repeat scroll 0 0 #580085;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bolder;
    padding: 10px;
    text-transform: uppercase;
}
#wp-oese-theme-settings fieldset { border:1px solid #cdcdcd; padding:30px; }
#wp-oese-theme-settings fieldset legend { padding:0 20px; }
#wp-oese-theme-settings fieldset label { display:inline; }
#wp-oese-theme-settings fieldset input[type=textbox] { width:100%; }
#wp-oese-theme-settings fieldset .form-group,
#wp-oese-theme-settings fieldset .wp-editor-wrap{ margin-bottom:15px; }
#wp-oese-theme-settings fieldset label.inline { display:inline; }
#wp_oese_theme_contact_page { display:none; }
a.contact-edit { text-decoration:none; }
a.contact-eidt { text-decoration:underline; }
.contact-edit-link { margin-left:10px; }
.contact-edit-link a { font-size:14px; }
.attachment-compat .compat-attachment-fields .compat-field-category td{ max-height:350px; overflow:scroll; }
.attachment-compat .compat-attachment-fields .compat-field-post_tag td{ max-height:250px; overflow:scroll; }
.oese-tabs.ui-tabs { padding:0; }
.oese-tabs .nav-tab-wrapper {
    background: #32373c;
    border-radius: 0;
    border-color: #32373c;
}
.oese-tabs .nav-tab-wrapper .ui-tabs-active { outline:none; }



/*PERMALINK VALIDATION START*/
.oese-prohibitedpermalinktext {
  background:rgba(220,50,50,.1) !important;
  width:100%;
  min-width:100%;
  box-sizing:border-box;
}
input#secondary-save-post {float: left;}
#minor-publishing-actions #save-action #save-post{
  width: 0px !important;
  padding: 0px !important;
  border: 0px !important;
}
/*PERMALINK VALIDATION END*/

.wpDataTable tbody tr td button {
  background-color: #284179 !important;
  line-height: 1.75;
  border: 1px solid transparent;
  color: #fff !important;
  padding: .5rem 1rem;
  font-size: 14px !important;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(122,122,122,.5);
  text-transform: none;
  position: relative;
  transition: all .3s ease;
  display: inline-block;
}
.wpDataTable th.column-masterdetail:after {display:none !important;}
.dataTables_paginate a.paginate_button.current >span {
    display: block;
    max-height: 0px !important;
    overflow: hidden !important;
    height: 0px !important;
    max-width: 0px !important;
    width: 0px !important;
}
#wdt-md-modal .detailColumn a button,
#wdt-cd-modal tr td.wdtcomparerow span a button {
    background-color: #284179 !important;
    line-height: 1.75;
    border: 1px solid transparent;
    color: #fff !important;
    padding: .5rem 1rem;
    font-size: 14px !important;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(122,122,122,.5);
    text-transform: none;
    position: relative;
    transition: all .3s ease;
    display: inline-block;
}

/* WPDATATABLE CUSTOM CSS */
.wpdt-c .modal .modal-header button.close { font-size:36px !important; }
button.wdt-clear-filters-button:before, button.wdt-clear-filters-widget-button:before { margin-right: 5px; }
.md-button, .wpdt-c .wpDataTablesWrapper a.master_detail_column_btn{background-color: #284179 !important;line-height: 1.75;border:1px solid transparent;color:#fff !important;padding: .5rem 1rem;font-size:14px !important;border-radius: 5px;box-shadow: 0 2px 6px 0 rgba(122,122,122,.5);text-transform: none;position: relative;transition: all .3s ease; display:inline-block;}
.md-button:hover, .md-button:focus, 
.wpdt-c .wpDataTablesWrapper a.master_detail_column_btn:hover, .wpdt-c .wpDataTablesWrapper a.master_detail_column_btn:focus{cursor:pointer;color:#fff !important;background-color: #008cff !important; border:1px solid #127eec; display:inline-block;}
.wpdt-c .dataTables_length .dropdown-menu { max-height:320px !important; height:320px !important; }
.bootstrap-select.btn-group .dropdown-toggle .filter-option { color:#0000000; }
.wpDataTableFilterBox .wpDataTableFilterSection .wdt-filter-control .dropdown-menu{ max-height:482px !important; height:482px !important; }
.wpDataTableFilterBox .wpDataTableFilterSection .column-category .wdt-filter-control .dropdown-menu{ height:auto !important;  }


/* table font color */
.wpdt-c .wpDataTablesWrapper table.wpDataTable thead th,
.wpdt-c .wpDataTablesWrapper table.wpDataTable tbody td,
.wpdt-c .wpDataTablesWrapper table.wpDataTabletable tfoot td {
	color: #000000 !important;
}
/* th background color */
.wpdt-c .wpDataTablesWrapper table.wpDataTable thead th,
.wpdt-c .wpDataTablesWrapper table.wpDataTable thead th.sorting {
	background-color: #294179 !important;
    background-image: none !important;
}
/* th border color */
.wpdt-c .wpDataTablesWrapper table.wpDataTable thead th,
.wpdt-c .wpDataTablesWrapper table.wpDataTable thead th.sorting {
	border-color: #294179 !important;
}
/* th font color */
.wpdt-c .wpDataTablesWrapper table.wpDataTable thead th {
	color: #ffffff !important;
}
.wpdt-c .wpDataTablesWrapper table.wpDataTable thead th.sorting:after,
.wpdt-c .wpDataTablesWrapper table.wpDataTable thead th.sorting_asc:after {
	border-bottom-color: #ffffff !important;
}
.wpdt-c .wpDataTablesWrapper table.wpDataTable thead th.sorting_desc:after {
	border-top-color: #ffffff !important;
}

/* table outer border color */
.wpdt-c .wpDataTablesWrapper table.wpDataTable tr:last-child td {
	border-bottom-color: #f5f5f5 !important;
}
.wpdt-c .wpDataTablesWrapper table.wpDataTable tr td:first-child {
	border-left-color: #f5f5f5 !important;
}
.wpdt-c .wpDataTablesWrapper table.wpDataTable tr td:last-child {
	border-right-color: #f5f5f5 !important;
}
/* odd rows background color */
.wpdt-c .wpDataTablesWrapper table.wpDataTable tr.odd td {
	background-color: #ffffff !important;
}
/* even rows background color */
.wpdt-c .wpDataTablesWrapper table.wpDataTable tr.even td,
.wpdt-c .wpDataTablesWrapper table.has-columns-hidden tr.row-detail > td {
	background-color: #dddddd !important;
}
/* rows hover background color */
.wpdt-c .wpDataTablesWrapper table.wpDataTable tr.odd:hover > td,
.wpdt-c .wpDataTablesWrapper table.wpDataTable tr.odd:hover > td.sorting_1,
.wpdt-c .wpDataTablesWrapper table.wpDataTable tr.even:hover > td,
.wpdt-c .wpDataTablesWrapper table.wpDataTable tr.even:hover > td.sorting_1 {
	background-color: #f5f5f5 !important;
}
.wpdt-c .wpDataTablesWrapper table.wpDataTable thead tr:nth-child(2) th {
	overflow: visible;
}
/* table font color */
.wpdt-c .wpDataTablesWrapper table.wpDataTable {
    font-family: Arial, Helvetica, sans-serif !important;
}
/* table font size */
.wpdt-c .wpDataTablesWrapper table.wpDataTable {
    font-size:14px;
}
 
/* pagination background color */
.wpDataTablesWrapper .dataTables_paginate {
    background-color:#f1f1f1 !important;
}
/* pagination color  */
.wpDataTablesWrapper .dataTables_paginate .paginate_button,
.wpDataTablesWrapper .dataTables_paginate .paginate_button.disabled:before,
.wpDataTablesWrapper .dataTables_paginate .paginate_button.disabled:hover:before,
.wpDataTablesWrapper .dataTables_paginate .ellipsis,
.wpDataTablesWrapper .paginate_button.previous:before,
.wpDataTablesWrapper .paginate_button.first:before,
.wpDataTablesWrapper .paginate_button.next:before,
.wpDataTablesWrapper .paginate_button.last:before{
    color:#495057 !important;
}


.wpDataTable tbody tr td button {
  background-color: #284179 !important;
  line-height: 1.75;
  border: 1px solid transparent;
  color: #fff !important;
  padding: .5rem 1rem;
  font-size: 14px !important;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(122,122,122,.5);
  text-transform: none;
  position: relative;
  transition: all .3s ease;
  display: inline-block;
}
#wdt-md-modal .detailColumn a button,
#wdt-cd-modal tr td.wdtcomparerow span a button {
    background-color: #284179 !important;
    line-height: 1.75;
    border: 1px solid transparent;
    color: #fff !important;
    padding: .5rem 1rem;
    font-size: 14px !important;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(122,122,122,.5);
    text-transform: none;
    position: relative;
    transition: all .3s ease;
    display: inline-block;
}
#wdt-cd-modal tr td.wdtcomparerow span a button {
  background-color: #284179 !important;
  line-height: 1.75;
  border: 1px solid transparent;
  color: #fff !important;
  padding: .5rem 1rem;
  font-size: 14px !important;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(122,122,122,.5);
  text-transform: none;
  position: relative;
  transition: all .3s ease;
  display: inline-block;
} .form-group p.col-sm-3 { line-height: 18px; padding-bottom: 6px; }

/* -------- End of Frontend Styles ----------*/
.edit-post-meta-boxes-area #poststuff .stuffbox>h3, .edit-post-meta-boxes-area #poststuff h2.hndle { width:95%; }
.edit-post-meta-boxes-area .postbox.acf-postbox.closed { border-bottom: 1px solid #c3c4c7; }
.meta-box-sortables .postbox button.handlediv { float:right; }