.csv-media-import .form-section{
    margin: 100px 300px 100px 300px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    padding: 30px 30px 30px 30px;
    background: #fff
}    
.csv-media-import .error_message{
    color: #f44336;
    padding-bottom: 12px;
    font-size: 14px;
}
.csv-media-import .csv-sec{
  padding-top: 30px;
}
.csv-media-import .samplecsv{
  display: inline;
}

.csv-media-import .outputcsv{
  float: right;
  padding-right: 17px;
}

.csv-media-import .ajaxload{
  padding-top: 10px;
  margin: auto;
  display: inherit;
}

.csv-media-import .cfile{
  padding:5px 10px;
  background:#0073aa;
  border:1px solid #0073aa;
  position:relative;
  color:#fff;
  border-radius:2px;
  text-align:center;
  float:left;
  cursor:pointer
}
#fileToUpload {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
    
}
.csv-media-import .cfile-upload{
  float: right!important;
}
.csv-media-import .container{
  padding-bottom: 5px
}
.csv-media-import .c_file_name{
  margin:auto;
  padding-top: 30px;
  word-break:break-word;
}