/** NALRC Page Styles **/
.nalrc-template {
	display:flex;
	flex-basis: 100%;
	flex-direction: column;
}
.nalrc-details.row { width:100%; display:block; }
.nalrc-details h1 { color: #981F33 !important; }
.nalrc-wrapper { padding:30px; text-align:center; }

/** NALRC Header Styles **/
.nalrc-banner nav {
	background-color:#981F33;
	border-radius: 4px;
	padding:30px;
}
.nalrc-banner .nalrc-wrapper { padding:0; display:flex; }
.nalrc-banner nav .nalrc-menu { margin-bottom:0; padding-left:0; }
.nalrc-banner .nalrc-nav { padding-left:0; flex-basis:20%; max-width:20%; height:280px; }
.nalrc-banner nav li { text-align:left; margin-bottom:15px; list-style:none; }
.nalrc-banner nav li:last-child { margin-bottom:0; }
.nalrc-banner nav li a {
	font-size:14px;
	color:#FFF;
	font-weight:700;
	text-decoration: none;
	font-family:  "-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.nalrc-banner nav li a:hover,
.nalrc-banner nav li a:focus,
.nalrc-banner nav li a:active {
	color:#F2CA03;
}
/** NALRC Footer Styles **/
.nalrc-footer { border-top:1px solid #d1d1d1; }
.nalrc-footer .nalrc-wrapper { padding:25px 0; display:flex; }
.nalrc-footer .nalrc-nav { padding-left:0; border-right:1px solid #d1d1d1; }
.nalrc-footer .nalrc-menu li { display:inline-block; text-align:left; }
.nalrc-footer .nalrc-menu > li a { font-weight:700; text-decoration:none; font-size:12px; text-transform:uppercase; }
.nalrc-footer .nalrc-menu .nalrc-submenu { margin-top:5px; padding-left:0; }
.nalrc-footer .nalrc-menu .nalrc-submenu li a { font-weight:normal; text-transform:none; }
.nalrc-footer .nalrc-social { padding-left:3%; }
.button-subscribe { background-color:#fff; color:#000; padding:3px 10px; border:1px solid #a09fa0; border-radius:8px; }
.nalrc-footer .nalrc-menu { padding-left:0; }
/** NALRC Carousel Styles **/
#oese-acf-slider ul.bullet-list.nalrc-list {
	bottom: 1.2em;
}
#oese-acf-slider .nalrc-list .bullet {
	width:10px;
	height:10px;
	background-color:#ffffff;
	border: 1px solid #d1d1d1;
}
#oese-acf-slider .nalrc-list .bullet.active {
	background-color:#f2ca03;
}
.nalrc-slider #oese-acf-slider {
	height:280px;
	padding:0;
	border-width:0;
}
.nalrc-slider #oese-acf-slider .slide-content { border-radius:4px; }
.nalrc-slider  #oese-acf-slider .oese-acf-slider-wrapper { margin-bottom:0; }
.nalrc-slider #oese-acf-slider .oese-acf-slider-wrapper { top:0;right:0;bottom:0;left:0; }
.nalrc-banner .nalrc-slider { flex-basis: 80%; max-width: 80%; padding-right: 0; }
/** NALRC Resource Styles **/
.nalrc-main { margin:30px 0; padding:0 15px; }
.nalrc-main #sngl-resource { flex-direction:column; display:flex; }
.nalrc-main #sngl-resource h1{ padding: 0; max-width: 100%; color: #981F33 !important; margin-bottom:0; }
.nalrc-main #sngl-resource .nalrc-resource-row { margin-bottom:25px; }
.nalrc-main #sngl-resource .nalrc-resource-row label { color: #981F33; font-size: 16px; font-weight: 600; margin-bottom: 0; }
.nalrc-main #sngl-resource .nalrc-resource-row .nalrc-resource-value { font-size: 13px; }
.nalrc-main #sngl-resource .nalrc-resource-row .nalrc-resource-value a { color:#1F5C99; text-decoration:underline; font-size:13px; }
.nalrc-main #sngl-resource .nalrc-resource-row .nalrc-resource-value a:hover,
.nalrc-main #sngl-resource .nalrc-resource-row .nalrc-resource-value a:focus { color:#000000; }
.nalrc-main #sngl-resource .nalrc-resource-thumbnail a { text-decoration:none; }
.nalrc-main #sngl-resource a.oer-featureimg .dashicons { height:auto; line-height:1em; }
.nalrc-main #sngl-resource .nalrc-view-source { text-align:center; }
.nalrc-view-button { 
	font-size: 13px;
    padding: 7px 35px;
    background-color: #1F5C99;
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
}
.nalrc-view-button:hover,
.nalrc-view-button:focus {
	background-color:#002649;
	color:#FFFFFF;
	text-decoration: none;
}
.nalrc-main #sngl-resource .nalrc-resource-row:last-child { margin-bottom:0; }
.nalrc-main #sngl-resource .nalrc-resource-thumbnail { text-align:center; margin-bottom:10px; }
.nalrc-main #sngl-resource .nalrc-resource-thumbnail .oer-featureimg img { width:175px; }
/** End of NALRC Resource Styles **/
/** NALRC Resources Styles **/
.site-content.nalrc-resources-content { margin-top:30px; }
.nalrc-resources-header h1 { color: #981F33 !important; margin-bottom:0; }
/** End of NALRC Resources Styles **/