/** NALRC Page Styles **/
.nalrc-template {
	display:flex;
	flex-basis: 100%;
	flex-direction: column;
}
.nalrc-details.row { width:100%; display:block; }
.nalrc-details h1 { color: #981F33 !important; }
.nalrc-wrapper { padding:30px; text-align:center; }

/** NALRC Header Styles **/
.nalrc-banner nav {
	background-color:#981F33;
	border-radius: 4px;
	padding:30px;
}
.nalrc-banner .nalrc-wrapper { padding:0; display:flex; }
.nalrc-banner nav .nalrc-menu { margin-bottom:0; padding-left:0; }
.nalrc-banner .nalrc-nav { padding-left:0; flex-basis:20%; max-width:20%; height:280px; }
.nalrc-banner nav li { text-align:left; margin-bottom:15px; list-style:none; }
.nalrc-banner nav li:last-child { margin-bottom:0; }
.nalrc-banner nav li a {
	font-size:16px;
	color:#FFF;
	font-weight:700;
	text-decoration: none;
	font-family:  "-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.nalrc-banner nav li a:hover,
.nalrc-banner nav li a:focus,
.nalrc-banner nav li a:active {
	color:#F2CA03;
}
.nalrc-banner nav li.nav-item.current-menu-item a { color:#F2CA03; }
.nalrc-header .nalrc-wrapper img { width:918px; height:auto; }
.page-template-nalrc-template .wpdt_main_wrapper .wpDataTablesFilter { background-color: #3693BB; color: #FFF; }
.page-template-nalrc-template .wpdt_main_wrapper .wpDataTablesFilter .wpDataTableFilterBox .wpDataTableFilterSection label { display:none; }
.page-template-nalrc-template .wpdt_main_wrapper .wpDataTablesFilter .wpDataTableFilterBox .wpDataTableFilterSection { min-height:45px !important; padding:5px 0 5px 15px; }
.page-template-nalrc-template .wpdt_main_wrapper .wpDataTablesFilter .wpDataTableFilterBox .wpDataTableFilterSection .wdt-select-filter .dropdown-toggle span.filter-option { display:inline-block !important; color:#414141; margin-left:5px; }
.page-template-nalrc-template .wpdt_main_wrapper .wpDataTablesFilter .wpDataTableFilterBox .wpDataTableFilterSection .column-degree-type,
.page-template-nalrc-template .wpdt_main_wrapper .wpDataTablesFilter .wpDataTableFilterBox .wpDataTableFilterSection .column-category { background: #FFF; border-radius: 4px; border: 1px solid #414141; padding-left: 3px; }
.page-template-nalrc-template .wpdt_main_wrapper .wpDataTablesFilter .wpDataTableFilterBox .wpDataTableFilterSection .column-degree-type .wdt-select-filter .dropdown-toggle, 
.page-template-nalrc-template .wpdt_main_wrapper .wpDataTablesFilter .wpDataTableFilterBox .wpDataTableFilterSection .column-category .wdt-select-filter .dropdown-toggle { background-color:#FFFFFF !important; }
.page-template-nalrc-template .wpdt_main_wrapper .wpDataTablesFilter .wpDataTableFilterBox .dataTables_filter { float:left; min-height: 45px !important; padding: 15px; font-size: 16px;  padding:5px 0 5px 5px; margin-bottom:0 !important; }
.page-template-nalrc-template .wpdt_main_wrapper .wpDataTablesFilter .wpDataTableFilterBox .dataTables_filter label { font-size:16px; }
.page-template-nalrc-template .wpdt_main_wrapper .wpDataTablesFilter .wpDataTableFilterBox .dataTables_filter input { height:32px !important; border-radius: 4px; border: 1px solid #414141; width:290px; background-color:#FFFFFF !important; color:#414141; }
.page-template-nalrc-template .wpdt_main_wrapper .wpDataTablesFilter .wpDataTableFilterBox .dataTables_filter input::placeholder { color:#414141 !important; opacity:1; }
.page-template-nalrc-template .wpdt_main_wrapper .wpDataTablesFilter .wpDataTableFilterBox .wpDataTableFilterSectionLabel {
	float: left;
  min-height: 45px;
  padding-left: 0;
}
.page-template-nalrc-template .wpdt_main_wrapper .wpDataTablesFilter .wpDataTableFilterBox .wpDataTableFilterSectionLabel {
	line-height: 40px;
  margin-bottom: 0;
}
.wpdt-c .wpDataTableFilterBox .bootstrap-select > .btn-default:before { right:5px !important; }
.wpdt-c .wpDataTableFilterBox .bootstrap-select .bs-searchbox:before { top:unset !important; }
.bootstrap-select.btn-group .dropdown-menu li a { font-size:14px; }
.wpdt-c .wpDataTablesWrapper table.wpDataTable thead th.sort.column-title::after { border: 5px solid transparent; display: inline-block; font-size: 0; line-height: 0; content: ""; height: 0; width: 0; vertical-align: 3px; margin: 0 0 0 10px; opacity: .6; border-bottom-color: #ffffff !important; }
/** NALRC Footer Styles **/
.nalrc-footer { border-top:1px solid #d1d1d1; }
.nalrc-footer .nalrc-wrapper { padding:25px 0; display:flex; }
.nalrc-footer .nalrc-nav { padding-left:0; border-right:1px solid #d1d1d1; }
.nalrc-footer .nalrc-menu li { display:inline-block; text-align:left; }
.nalrc-footer .nalrc-menu > li a { font-weight:700; text-decoration:none; font-size:12px; text-transform:uppercase; }
.nalrc-footer .nalrc-menu .nalrc-submenu { margin-top:5px; padding-left:0; }
.nalrc-footer .nalrc-menu .nalrc-submenu li a { font-weight:normal; text-transform:none; }
.nalrc-footer .nalrc-social { padding-left:3%; }
.button-subscribe { background-color:#fff; color:#000; padding:3px 10px; border:1px solid #a09fa0; border-radius:8px; }
.nalrc-footer .nalrc-menu { padding-left:0; }
.wpdt-c.wdt-skin-light .wpDataTablesWrapper table.wpDataTable tr td { padding: 5px 8px; }
.wp-block-oese-block-oese-tabs #oeseTabs li i.fas { margin-right:5px; }
/** NALRC Carousel Styles **/
#oese-acf-slider ul.bullet-list.nalrc-list {
	bottom: 1.2em;
}
#oese-acf-slider .nalrc-list .bullet {
	width:10px;
	height:10px;
	background-color:#ffffff;
	border: 1px solid #d1d1d1;
}
#oese-acf-slider .nalrc-list .bullet.active {
	background-color:#f2ca03;
}
.nalrc-slider #oese-acf-slider {
	height:280px;
	padding:0;
	border-width:0;
}
.nalrc-slider #oese-acf-slider .slide-content { border-radius:4px; }
.nalrc-slider  #oese-acf-slider .oese-acf-slider-wrapper { margin-bottom:0; }
.nalrc-slider #oese-acf-slider .oese-acf-slider-wrapper { top:0;right:0;bottom:0;left:0; }
.nalrc-banner .nalrc-slider { flex-basis: 80%; max-width: 80%; padding-right: 0; }
#oese-acf-slider ul.bullet-list.nalrc-list.wCaption { bottom:0; }
#oese-acf-slider .wCaption .slide-content h3 { padding-bottom:20px !important; }
/** NALRC Resource Styles **/
.nalrc-main { margin:30px 0; padding:0 15px; }
.nalrc-main #sngl-resource { flex-direction:column; display:flex; }
.nalrc-main #sngl-resource h1{ padding: 0; max-width: 100%; color: #981F33 !important; margin-bottom:0; }
.nalrc-main #sngl-resource .nalrc-resource-row { margin-bottom:25px; }
.nalrc-main #sngl-resource .nalrc-resource-row label { color: #981F33; font-size: 18px; font-weight: 600; margin-bottom: 0; }
.nalrc-main #sngl-resource .nalrc-resource-row .nalrc-resource-value { font-size: 16px; color:#4b4e53; }
.nalrc-main #sngl-resource .nalrc-resource-row .nalrc-resource-value a { color:#3692BB; text-decoration:underline; font-size:16px; }
.nalrc-main #sngl-resource .nalrc-resource-row .nalrc-resource-value a:hover,
.nalrc-main #sngl-resource .nalrc-resource-row .nalrc-resource-value a:focus { color:#000000; }
.nalrc-main #sngl-resource .nalrc-resource-row .nalrc-resource-value p { margin-bottom:0; }
.nalrc-main #sngl-resource .nalrc-resource-thumbnail a { text-decoration:none; }
.nalrc-main #sngl-resource a.oer-featureimg .dashicons { height:auto; line-height:1em; }
.nalrc-main #sngl-resource .nalrc-view-source { text-align:center; }
.nalrc-view-button { 
	font-size: 13px;
    padding: 7px 35px;
    background-color: #3692BB;
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
}
.nalrc-view-button:hover,
.nalrc-view-button:focus {
	background-color:#002649;
	color:#FFFFFF;
	text-decoration: none;
}
.nalrc-main #sngl-resource .nalrc-resource-row:last-child {  }
.nalrc-main #sngl-resource .nalrc-resource-thumbnail { text-align:center; margin-bottom:10px; }
.nalrc-main #sngl-resource .nalrc-resource-thumbnail .oer-featureimg img { width:175px; }
.nalrc-featured-thumbnail { margin-top:-45px; }
.nalrc-main #sngl-resource .oer-subject-resources-list .post.oer-snglrsrc .tagcloud span a { color: #FFFFFF !important; text-decoration: none; }
.nalrc-main #sngl-resource .oer-subject-resources-list .post.oer-snglrsrc .tagcloud span a:hover { color:#414141; }
.nalrc-content-row { flex-wrap:nowrap; }
.wpDataTableFilterBox .wpDataTableFilterSection .wdt-filter-control .dropdown-menu { height:auto !important }
.wpDataTable thead th.column-title span::after {
    border: 5px solid transparent;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    content: "";
    height: 0;
    width: 0;
    vertical-align: 3px;
    margin: 0 0 0 10px;
    opacity: .6;
}
.wpDataTable thead th.column-title.sorting_asc span::after {
    border-top-width: 0;
    border-bottom-color: #ffffff !important;
    opacity:1;
}
.wpDataTable thead th.column-title.sorting_desc span::after {
    border-bottom-width: 0;
    border-top-color: #ffffff !important;
    opacity:1;
}
/** End of NALRC Resource Styles **/
/** NALRC Resources Styles **/
.site-content.nalrc-resources-content { margin-top:30px; }
.nalrc-resources-header h1 { color: #981F33 !important; margin-bottom:0; }
.nalrc-blogpost { padding:25px 0; max-width:97%; margin:auto; border-bottom: 1px solid #d1d1d1; }
.nalrc-blogpost .oer-feature-image { width:100%; padding-left:0; }
.nalrc-blogpost .oer-feature-image img{ width:100%; height:auto; }
.nalrc-blogpost .rght-sd-cntnr-blg { width:100%; padding-right:0; }
.nalrc-blogpost .rght-sd-cntnr-blg h4 { margin-top: 0 !important; color: #981F33 !important; margin-bottom:5px; font-size:18px !important; font-weight:bold; }
.nalrc-blogpost .rght-sd-cntnr-blg h4 a { text-decoration: none; }
.nalrc-blogpost .rght-sd-cntnr-blg h4 a:hover,
.nalrc-blogpost .rght-sd-cntnr-blg h4 a:focus { color:#5D111E;  }
.nalrc-blogpost .rght-sd-cntnr-blg .small { font-weight:bold; }
.nalrc-blogpost .rght-sd-cntnr-blg .oer-post-content p { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.nalrc-blogpost:last-child { border-bottom:none; }
.nalrc-search-filters { background-color: #3692BB; padding: 30px; border-radius:5px; }
.nalrc-search-filters .filter-title h4 { margin-top: 0 !important; color: #ffffff; margin-bottom: 20px; }
.nalrc-search-filters input, 
.nalrc-search-filters select { width:100%; height:34px; }
.nalrc-search-filters select { 
	padding:3px 6px; 
	border-radius: 4px; 
	-webkit-appearance: none; 
	appearance: none; 
	z-index: 10;
    position: absolute;
    background: transparent;
}
.nalrc-search-filters .nalrc-search-keyword  { position:relative; }
.nalrc-search-filters .nalrc-search-keyword i { position: absolute; top: 9px; left: 25px; }
.nalrc-search-filters .nalrc-search-keyword input { padding-left:30px; border-radius:4px; border: 1px solid #767676; }
.nalrc-select-wrapper { 
	position:relative; 
    background: #FFFFFF;
    height: 34px;
    border-radius: 4px;
}
.nalrc-select-wrapper::after {
  content: '\25BC';
  font-size: 12px;
  top: 9px;
  right: 8px;
  position: absolute;
  z-index: 1;
}
.oer_resource_posts { position: relative; }
.oer_resource_posts .resource-loader { 
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
}
.oer_resource_posts .resource-loader img { width:5em; }
.nalrc-pagination-nav { margin:25px 15px; }
.nalrc-pagination-nav a {
	background-color: #3692BB;
    padding: 8px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
}
.nalrc-pagination-nav a:hover {
	color:#002649;
	background-color:#F2CA03;
}
/** End of NALRC Resources Styles **/
/** Responsive Styles **/
@media only screen and (max-width:1050px){
	.nalrc-banner .nalrc-nav { 
		max-width:25%;
		flex-basis:25%;
		height:auto;
	}
	.nalrc-banner nav li a { font-size:14px; }
	.nalrc-header .nalrc-wrapper img { max-width:100%; width:100%; }
	.nalrc-banner .nalrc-slider {
		max-width:75%;
		flex-basis: 75%;
	}
}
@media only screen and (max-width:960px){
	.nalrc-banner .nalrc-nav { 
		max-width:25%;
		flex-basis:25%;
		height:auto;
	}
	.nalrc-banner nav li a { font-size:14px; }
	.nalrc-banner .nalrc-slider {
		max-width:75%;
		flex-basis: 75%;
	}
	.nalrc-slider #oese-acf-slider { height:100%; }
}
@media only screen and (max-width:800px){
	.nalrc-wrapper { flex-direction:column; }
	.nalrc-banner .nalrc-nav { 
		max-width: 100%;
	    height: auto;
	    text-align: center;
	    display: flex;
	    flex: 0 0 100%;
	    margin-bottom:20px;
	    padding-right:0;
	}
	.nalrc-banner  .nalrc-nav nav {
		width:100%;
	}
	.nalrc-banner  .nalrc-nav nav li { text-align:center; }
	.nalrc-banner .nalrc-slider { 
		display: flex;
	    flex: 0 0 100%;
	    max-width:100%;
	    padding-left:0;
	}
	.nalrc-header .nalrc-wrapper img { max-width:100%; width:100%; }
	.nalrc-footer .nalrc-social { max-width:32%; flex-basis:32%; padding-left:0;padding-top:3%; }
	.nalrc-footer .nalrc-nav {
		max-width: 100%;
	    border-right: none;
	    border-bottom: 1px solid #d1d1d1;
	    flex-basis: 100%;
	}
	.nalrc-slider #oese-acf-slider { height:280px; }
}
@media only screen and (max-width:768px){
	.nalrc-wrapper { padding:15px; }
	.nalrc-header .nalrc-wrapper img { width:auto; max-width:100%; }
	.nalrc-main #sngl-resource .nalrc-resource-row:last-child { margin-bottom:25px; }
	.nalrc-content-row { flex-direction:column-reverse;  }
	.nalrc-featured-thumbnail { margin-top:-20px; margin-bottom:35px; }
}
@media only screen and (max-width:600px){
	.nalrc-details.row { padding-left:30px; padding-right:30px; }
	.nalrc-slider #oese-acf-slider  { height:200px; }
}
@media only screen and (max-width:480px){
	.nalrc-footer .nalrc-wrapper { flex-direction:column; padding:5px 0; }
	.nalrc-footer .nalrc-nav { display:flex; flex: 0 0 100%; padding-right:0; border-right:0; border-bottom: 1px solid #d1d1d1; }
	.nalrc-footer .nalrc-social { display:flex; flex: 0 0 100%; padding-left:0; }
	.nalrc-footer .nalrc-nav .nalrc-menu > li.nav-item,
	.nalrc-footer .nalrc-social .nalrc-menu > li.nav-item { margin-top:10px; }
}
/** End of Responsive Styles **/