.oese-preview-url-wrapper{
    display: block;
    float: left;
    width: 100%;
    padding-bottom: 10px;
}
.oese-preview-url-wrapper > input{
  display:inline-block;
  float:left;
  height:28px;
  width:70%;
  margin-right:1%;
}

.oese-preview-url-wrapper .oese-preview-url-copy.button {
  display:inline-block;
  float:left;
  height:28px;
  width:28%;
  text-align: center;
      padding: 0px !important;
}

div#oese-preview-draft-publish-warning {
    border: 2px solid red;
    padding: 8px;
    float: left;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 8px;
}


/* GUTENBERG */
.oese-preview-url-wrapper.gutenberg{
  float: none !important;
  padding: 15px 0px 0px 0px !important;
  border-top: 1px solid #e2e4e7 !important;
  margin: 15px 0px 0px 0px !important;
  height: auto;
}
.oese-preview-url-wrapper.gutenberg input#oese-preview-url-input {
    float: none !important;
    width: 160px;
    margin: 0px 5px 0px 0px;
}
.oese-preview-url-wrapper.gutenberg .oese-preview-url-copy{
    float: none !important;
}
.oese-preview-url-wrapper.gutenberg div#oese-preview-draft-publish-warning {
    float: none !important;
}
.components-panel__row.wpnn-preview {
    display: block !important;
}

/* Preloader */
.oese-preview-tmp-preloader .lds-ring {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    margin-top: 10px;
}
.oese-preview-tmp-preloader .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 3px;
    border: 3px solid #505050;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #007cba transparent transparent transparent;
}
.oese-preview-tmp-preloader .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.oese-preview-tmp-preloader .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.oese-preview-tmp-preloader .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}