/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

#oeseshortcodeblock_shortcode_editor {width:100% !important}

.oese_shortcodes_block_control .components-base-control__label.padded {
    margin-top: 10px;
}

.oese_shortcode_cgb_container {
  display: inline-block;
  width: 100%;
}

.oese_shortcode_cgb_container h1, 
.oese_shortcode_cgb_container h2, 
.oese_shortcode_cgb_container h3, 
.oese_shortcode_cgb_container h4, 
.oese_shortcode_cgb_container h5, 
.oese_shortcode_cgb_container h6 {
    margin-top: 0 !important;
    margin-bottom: .5rem !important;
}

.oese_shortcode_cgb_container .bg_img_of_icns h3 {
    color: #fff !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    font-size: 24px !important;
}
.oese_shortcode_cgb_container .bg_img_of_icns p {
    font-style: normal !important;
    color: #fff !important;
}


.oese_shortcode_cgb_container p{font-family: sans-serif !important;}

.oese_shortcode_cgb_container .bg_img_of_icns p {
    font-style: normal !important;
    color: #fff !important;
}

.oese_shortcode_cgb_container p {
    font-weight: normal !important;
    line-height: 28px !important;
}
.oese_shortcode_cgb_container p {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;;
}

.oese_shortcode_cgb_container .fa, 
.oese_shortcode_cgb_container .far, 
.oese_shortcode_cgb_container .fas {
    font-family: "Font Awesome 5 Free" !important;
}

.oese_shortcode_cgb_container .oet-featured-card {
    position: relative;
    background-size: cover !important;
    margin: 5% 1% !important;
    padding: 30px !important;
    float: left;
    z-index: 1;
    width: 100%;
    max-width: 335px !important;
    height: 100%;
    min-height: 425px !important;
    max-height: 425px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-width: 0px;
    border-style: solid;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;
    overflow: hidden;
}

.oese_shortcode_cgb_container .oet-featured-card-title {
    font-size: 24px;
    line-height: 28px;
    color: #ffffff !important;
    font-family: 'Raleway', sans-serif !important; font-weight: 700 !important;
    margin-bottom: 22px;
    margin-top: 10px !important;
    width: 100%;
    max-height: 83px;
    height: 100%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.oese_shortcode_cgb_container .oet-featured-card-btn {
    position: absolute;
    bottom: 38px;
    Background-color: #e57200;
    padding: 10px 10px;
    font-size: 18px;
    color: #fff;
    font-family: 'Raleway', sans-serif !important; font-weight: 400 !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: auto !important; 
    min-width: 138px;
    max-width: 275px;
    display: block;
    text-decoration: none;
    line-height: 1.5rem;
}

.audience-link {
    color: #fff !important;
}

.oese_shortcode_cgb_container .clearfix {
    background-color: #f1f1f1;
}

.oese-video-avatar-wrapper {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}
.oese-video-avatar-table {
    display: table;
    width: 100%;
    height: 100%;
}
.oese-video-avatar-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.oese-youtube-play:before,
.oese-vimeo-play:before  {
  font-family: 'FontAwesome';
  content: "\f144";
  font-size: 32px;
  font-size: 3vw;
  color:#ffffff;
}
.oese-video-avatar-cell:hover .oese-youtube-play:before {
    color: #ff0000 !important;
}
a.oese-video-link {
    display: block;
    float: left;
    width: 100%;
    position: relative;
}
.oese-featured-video-description {
    padding: 15px 2px !important;
    float: left;
    width: 100%;
}
.oese_shortcode_block.flx {
    display: flex;
}
.oese_shortcode_block p {
    float: none !important;
}

.oese_shortcode_cgb_container .custom-button,
.oese_shortcode_block .custom-button {
    background-color: #243C54;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 20px !important;

}

/* OESE COLORS */
.oese_shortcode_cgb_container .btn_dwnld{
  background-color: #981F33 !important;
}

.oese_shortcode_cgb_container .hdng_mtr{
  margin-bottom: 0px !important;
}

.oese_shortcode_cgb_container .hdng_mtr, 
.oese_shortcode_cgb_container .hdng_mtr a{
  color: #549944 !important;
  font-size: 18px !important;
}

.oese_shortcode_block h4 {font-family: 'Raleway', sans-serif !important;}
.oese_shortcode_cgb_container .lft_sid_mtr h4:first-child, 
.oese_shortcode_cgb_container .rght_sid_mtr h4:first-child {
    color: #549944 !important;
    font-weight: 900 !important;
}

.oese_shortcode_cgb_container .accordion .panel-default{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.oese_shortcode_cgb_container .accordion .panel-default .panel-heading h5.panel-title > a {
    padding: 10px 0px !important;
}

.oese_shortcode_cgb_container .accordion .panel-default .panel-heading {
    padding: 5px 15px 34px !important;
}

.oese_shortcode_cgb_container .accordion .panel-default .panel-collapse .panel-body {
    border-top: 1px solid #cccccc;
    padding-top: 13px !important;
}

.oese_shortcode_cgb_container .accordion .panel-default .panel-heading .panel-title > a{
    font-family: 'Raleway', sans-serif !important; font-weight: 600 !important;
    font-size: 1.2em !important;
}

.oet-featured-card-btn {
    background-color: #981F33 !important;
}

/* ************************ */
/*    Disclaimer Shortcde   */
/* ************************ */
.oese_shortcode_block .panel-disclaimer,
.oese_shortcode_cgb_container .panel-disclaimer {border:1px solid #ccc;border-radius:4px;margin:50px 20px 0px 20px;} 
.oese_shortcode_block .panel-disclaimer p,
.oese_shortcode_cgb_container .panel-disclaimer p { margin:10px !important; color:#747777!important; font-size:12px !important; }

/* ************************ */
/*    BLock Quote   */
/* ************************ */
.oese_shortcode_block blockquote,
.oese_shortcode_cgb_container blockquote {
    border-left: none !important;
    font-size: 18px !important;
    line-height: 25px !important;
    font-family: inherit !important;
    padding: 1.7em 1.2em 1.7em 2.2em !important;
}
.oese_shortcode_block blockquote.blog_mtr,
.oese_shortcode_cgb_container blockquote.blog_mtr {
    padding-top:0px !important;
    padding-bottom:0px !important;
    margin-bottom: 0px !important;
}


.oese_shortcode_block blockquote.blog_mtr p, 
.oese_shortcode_cgb_container blockquote.blog_mtr p {
    margin: 0px !important;
    font-family: 'Merriweather' !important;
    font-style: italic;
    font-size: 26px !important;
    line-height: 34px !important;
    color:#828282;
}
.oese_shortcode_block blockquote.blog_mtr,
.oese_shortcode_cgb_container blockquote.blog_mtr {
    font-family: 'Merriweather' !important;
    font-style: italic;
    font-size: 26px !important;
    line-height: 34px !important;
    color:#828282;
}

.oese_shortcode_block blockquote.blog_athr p,
.oese_shortcode_cgb_container blockquote.blog_athr p {
    margin:0px !important;
    padding-top: 0px !important;
    font-family: 'Helvetica Neue',sans-serif !important;
    text-align: right;
    font-size: 24px !important;
    line-height: 32px !important;
    color: #981F33;
    font-weight: 600;
}
.oese_shortcode_block blockquote.blog_athr, 
.oese_shortcode_cgb_container blockquote.blog_athr {
    padding-top: 30px !important;
    font-family: 'Helvetica Neue',sans-serif !important;
    text-align: right;
    font-size: 24px !important;
    line-height: 32px !important;
    color: #981F33;
    font-weight: 600;
}

.oese_shortcode_block .oese_blockquote_wrapper .oese-blockquote .fa,
.oese_shortcode_cgb_container .oese_blockquote_wrapper .oese-blockquote .fa {
    color: #1F5C99;
    font-size: 32px;
}

@media screen and (max-width: 768px) {
  .oese_shortcode_block blockquote.blog_mtr p, 
  .oese_shortcode_cgb_container blockquote.blog_mtr p {
      font-size: 20px !important;
      line-height: 28px !important;
  }
  .oese_shortcode_block blockquote.blog_mtr,
  .oese_shortcode_cgb_container blockquote.blog_mtr {
      font-size: 20px !important;
      line-height: 28px !important;
  }
  .oese_shortcode_block blockquote.blog_athr p,
  .oese_shortcode_cgb_container blockquote.blog_athr p {
      font-size: 18px !important;
      line-height: 26px !important;
  }
  .oese_shortcode_block blockquote.blog_athr, 
  .oese_shortcode_cgb_container blockquote.blog_athr {
      font-size: 18px !important;
      line-height: 26px !important;
  }
  .oese_shortcode_block .fa,
  .oese_shortcode_cgb_container .fa {
      font-size: 28px;
  }
  .oese_shortcode_block blockquote,
  .oese_shortcode_cgb_container blockquote {
      padding: 1.7em 1.7em 1.7em 2.2em !important;
  }
}

@media screen and (max-width: 599px) {
  .oese_shortcode_block blockquote.blog_mtr p, 
  .oese_shortcode_cgb_container blockquote.blog_mtr p {
      font-size: 16px !important;
      line-height: 24px !important;
  }
  .oese_shortcode_block blockquote.blog_mtr,
  .oese_shortcode_cgb_container blockquote.blog_mtr {
      font-size: 16px !important;
      line-height: 24px !important;
  }
  .oese_shortcode_block blockquote.blog_athr p,
  .oese_shortcode_cgb_container blockquote.blog_athr p {
      font-size: 14px !important;
      line-height: 22px !important;
  }
  .oese_shortcode_block blockquote.blog_athr, 
  .oese_shortcode_cgb_container blockquote.blog_athr {
      font-size: 14px !important;
      line-height: 22px !important;
  }
  .oese_shortcode_block .fa,
  .oese_shortcode_cgb_container .fa {
      font-size: 24px;
  }
  .oese_shortcode_block blockquote,
  .oese_shortcode_cgb_container blockquote {
      padding: 1.7em 1.7em 1.7em 2.2em !important;
  }
}


.oese_shortcode_cgb_container .oese-blockquote img {
    max-width: none !important;
    width: 45px !important;
}
.oese_shortcode_cgb_container blockquote {
    font-weight: normal;
    color: #4b4e53;
    line-height: 28px;
}

/* **************************** */
/*    WP-BLOCK QUOTE OVERRIDE   */
/* **************************** */
/*
blockquote.wp-block-quote p em {
    font-family: 'Merriweather' !important;
    font-style: italic;
    font-size: 26px !important;
    line-height: 34px !important;
    color: #828282 !important;
}
blockquote.wp-block-quote p cite,
.block-editor-writing-flow blockquote .wp-block-quote__citation {
    font-family: 'Helvetica Neue',sans-serif !important;
    text-align: right;
    font-size: 24px !important;
    line-height: 32px !important;
    color: #981F33 !important;
    font-weight: 600;
    font-style: normal;
    display:block;
    width:100%;
}
blockquote.wp-block-quote p{
  padding: 0 1.7em 0 2.6em !important;
}
blockquote.wp-block-quote:before {
    content: "\f10d";
    font-family: 'fontawesome';
    color: #1F5C99;
    font-size: 32px;
}
*/

/* ************************* */
/*    Featured Content Box   */
/* ************************* */
.oese_shortcode_cgb_container .pblctn_box .socl_icns {
      line-height: 1.3em !important;
}

/* ************************* */
/*       Featured Video      */
/* ************************* */
.oese-featured-video-shrtcd-overlay .oese-video-modal {
    min-height: 100%;
}
.oese-featured-video-shrtcd-overlay .oese-video-table {
    position: absolute;
    display: table !important;
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%;
}
.oese-featured-video-shrtcd-overlay .oese-video-cell {
    display: table-cell;
    vertical-align: middle;
}